<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Roslyn.Compilers.Common" version="1.2.20906.2" targetFramework="net45" />
  <package id="Roslyn.Compilers.CSharp" version="1.2.20906.2" targetFramework="net45" />
  <package id="StyleCop.Analyzers" version="1.0.0-beta015" targetFramework="net46" developmentDependency="true" />
  <package id="Weave" version="1.1.2" targetFramework="net45" developmentDependency="true" />
</packages>